# Web Framework & Server
flask
werkzeug
gunicorn

# AI / Machine Learning (Render用CPU版)
tensorflow-cpu==2.17.0
numpy<2.0.0
pillow

# Utilities
python-dotenv
# line-bot-sdkの制約に合わせて2.31.0にする
requests==2.31.0
line-bot-sdk==3.7.0